.stickytooltip {
    box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
    -webkit-box-shadow: 5px 5px 8px #818181;
    -moz-box-shadow: 5px 5px 8px #818181;
    display: none;
    position: absolute;
    display: none;
    border: 5px solid black; /*Border around tooltip*/
    background: white;
    z-index: 3000;
}


.stickytooltip .stickystatus, .stickytooltip .status { /*Style for footer bar within tooltip*/
    background: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font: bold 12px Arial;
    text-transform: uppercase;
    margin-top: -5px;
}

.img_tooltip {
   /* border: 1px solid #0080a7;*/
    width: 400px;
}
