
ul, ul li { margin: 0; padding: 0;}
ol, ol li { margin: 0;padding: 0;}
h1, h2, h3, h5, form, select, input, body, td, th,  font{-webkit-text-size-adjust:100%;
	font-family:Arial, Helvetica, sans-serif;margin: 0;padding: 0;  }
p {-webkit-text-size-adjust:100%;
	font-family:Arial, Helvetica, sans-serif;margin: 0;padding: 0; } 
* { margin: 0; padding: 0;}
.inline { display: inline;}
.clear { clear: both;}
.clearfix:after {clear: both; content: ""; display: block; visibility: hidden;}
* html .clearfix { height: 1%;}
.hide { display: none;}
.show { display: block;}
.red { color: #FF0000;}
.left {float: left;}
.right { float: right;}
.fl-right { float: right;}
img {  border: 0 none;}
table { border-collapse:collapse; border-spacing: 0px; border-padding:0px;}
body {
   
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.footer-wrap{
	float: left;
    background-color: #686868;
    position: relative;
	width:100%;
	}
.fsize {
    width: 1024px;
    margin: auto;
}
.xf-topwrap {
    height: 90px;
	background:url(../images/line_ft.png) repeat-x left bottom;
}	
.xf-middlewrap {
    background-color: #f2f1eb;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 1px;
    float: left;
    padding-top: 30px;
}
.xfleft {
    float: left;
    margin-right: 10px;
    width: 50%;
    text-align: left;
}		
.xf-topwrap .xfleft {
    width: 35%;
}
.xfleftwrap {
    margin: 20px 0;
    width: 100%;
    float: left;
	position:relative;
}
.xfleftwrap div:nth-child(1) {
    border: 0;
    padding: 0px;
    margin-left: 10px;
	 width:130px;
	 height:130px;
	 position:absolute;
	 left:0px; 
	 top:-40px;
	 background-color: #686868;
	 border-radius: 50%;
	 border:1px solid #686868;
	 text-align:center;
	 vertical-align:middle; 
	 display: table-cell;
}
.xfleftwrap div {
    display: inline-block;
    padding: 0 17px;
    color: white;
}
.xfleftwrap div:nth-child(2) {
    border: 0;
    padding: 0;
    padding-right: 23px;
    vertical-align: bottom;
    padding-top: 10px;
	margin-left:160px;
}
xfleftwrap p {
    margin-bottom: 2px;
}
.xfleftwrap p {
    font-size: 12px;
}
.xfleftwrap .hotlinenumber {
    float: left;
    display: inline;
    padding: 3px 0px 0px 0px !important;
    border-left: none !important;
    width: 140px;
    color: #fff;
    font-size: 12px;
}
.xfleftwrap .hotlinecall {
    float: left;
    display: inline;
    padding: 0px 0px 0px 0px !important;
    border-left: none !important;
    font-size: 23px !important;
    color: #ff6600;
    width: 150px !important;
    font-weight: bold;
    text-shadow: 0 0 0.1px #000;
    text-shadow: 0 0 1px #333232;
}
.xf-top .xfright {
    margin-top: 0px;
}
.xfright {
    float: right;
}
.xf-topwrap.logo-d {
	background: none #f2f1eb;
	border-bottom: 2px solid #ddd;
	padding-top:40px;
	padding-bottom:0px;

	}
.xf-topwrap.logo-d .text { text-align:left; display:block; font-size:11px; font-family: Arial, Helvetica, sans-serif; font-style:italic; margin-bottom:3px;}	
.ul-logo li{
	float:left;
	padding-left:8px;
	padding-right:8px;
	list-style:none;
	}
.ul-logo li:last-child { padding-right:0px;} 
.ul-logo li:first-child  { padding-left:0px;}
.right-contact {
	float:right;
	padding:20px;
	background-color:#fff;
	border-radius: 8px;
	width:25%;
	}
.right-contact h4 {
	font-size:15px;
	text-transform:uppercase;
	font-weight:400;
	}	
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.right-contact li {
    margin: 10px 0;
    word-wrap: break-word;
}
.right-contact ul li {
    font-size: 14px;
    color: #596067;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    display: block;
}
.right-contact li a { color: #596067; text-decoration:none;}
.icon-phone:before {
    content: '\e86e';
}
.social-media ul li {
    margin: 0!important;
}
.social-media ul li {
    display: inline-block!important;
    padding: 0!important;
}
.fa-envelope:before {
    content: "\f0e0";
}
.right-contact li .icons { font-size:16px; margin-right:5px;}
.social-media ul li a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/social-icons.png) no-repeat #ccc;
}
.social-media ul li.social-facebook a {
    background-color: #39599f;
    background-position: -40px 0;
}
.social-media ul li.social-googleplus a {
    background-color: #d74937;
    background-position: 0 0;
}
.social-media ul li.social-youtube a {
    background-color: #e70031;
    background-position: -160px 0;
}
.f-box-row {
	width:22%;
	float:left;
	}
.f-box-row h4 {
	font-size:15px;
	text-transform:uppercase;
	font-weight:400;
	padding-bottom:10px;
	padding-top:20px;
	}		
.f-box-row ul {
	}
.f-box-row li {
	width:100%;
	float:left;
	color:#333;
	padding-top:6px;
	padding-bottom:8px;
	 word-wrap: break-word;
	 text-align:left;
	 font-size:12px;
	}
.f-box-row li a {
	color:#333;
	text-decoration:none;
	}			
.f-box-row li .icons { font-size:16px; margin-right:5px;}
.xfleftwrap div:nth-child(1) img { width:80px; margin-top:25px;}
.text-copyright {
	background-color:#fff;
	font-size:12px;
	color:#333;
	text-align:left;
	line-height:22px;
	display:block;
	padding-top:4px;
	padding-bottom:4px;
	}